.marker-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3px;
}

.marker-container p {
  color: var(--secondary-color-extradark);
  font-weight: 600;
  font-family: var(--font-base);
  padding: 3px 6px;
  border-radius: 12px;
  background-color: var(--secondary-color-base);
}

#svg-container{
  width: 0;
  height: 0;
  border: 10px solid transparent;
  border-bottom: 0;
  border-top: 10px solid var(--secondary-color-base);
  border-radius: 5px;
}